{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yay!</title>
    <link rel="stylesheet" href="{% static 'home/page6.css' %}">
</head>
<body>
    <div class="container">
        <div class="image-wrapper">
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZG04NGp1M3dhbGNvZXo3NTZ3NWlub254ZTJyeHhydXJvZXFrNDBuMyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/b518vJeMT5T7G/giphy.gif" alt="Happy Cats">
        </div>
        <h1 class="success-text">Guess the love potion worked 😌💖 I’m officially the luckiest person now!”<br> say YES!</h1>
    </div>
</body>
</html>