{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Last Time</title>
    <link rel="stylesheet" href="{% static 'home/page3.css' %}">
</head>
<body>
    <div class="container">
        <div class="image-wrapper">
            <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZndtcDMxNDkwd2tzdzkzMXh2MW5jbzV4aWFmZXVqb24zYmJqdWZ5MiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/puUeBoInZy16GV2VkN/giphy.gif" alt="Stressed Jerry">
        </div>

        <h1>One last time - <br>Be my valentine</h1>

        <div class="buttons">
            <button class="yes-btn">OF COURSE</button>
            <a href="/final/"><button class="no-btn">I said no</button></a>
        </div>
    </div>
</body>
</html>