{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be My Valentine?</title>
    <link rel="stylesheet" href="{% static 'home/page1.css' %}">
</head>
<body>
    <div class="container">
        <div class="image-wrapper">
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaW1rMWhyMDAwcTBuZmZ1czRkazNnMXVpbjVmMXAxOHVncjV4bHUweSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/DUuyU3KyYGLNS/giphy.gif" alt="SpongeBob">
        </div>
        <h1>Will you be my valentine?</h1>
       <a href="/page5/"><button class="yes-btn">YES</button></a>
    <a href="/please">
        <button class="no-btn">NO</button>
    </a>
</div>
    </div>
</body>
</html>