{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You left me no choice</title>
    <link rel="stylesheet" href="{% static 'home/page4.css' %}">
</head>
<body>
    <div class="container">
        <div class="image-wrapper">
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOHBqNTB6Ym5wN2hvdXI1M240b3Jtb3lhczNyYnppNGpybDVsajkwcyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/4q1TbcSqPKHStA4ZUh/giphy.gif" alt="Love Potion">
        </div>

        <h1>You left me no choice</h1>

        <div class="buttons">
           <a href="/page6/"><button class="yes-btn">YES MY LOVE<br>I'LL BE YOUR VALENTINE</button></a>
        </div>
    </div>
</body>
</html>