{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yay!</title>
    <link rel="stylesheet" href="{% static 'home/page5.css' %}">
</head>
<body>
    <div class="container">
        <div class="image-wrapper">
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHJndXp4bmZ3bmZ3bmZ3bmZ3bmZ3bmZ3bmZ3bmZ3bmZ3bmZ3JmVwPXYxX2ludGVybmFsX2dpZl9ieV9pZCZjdD1n/MDJ9IbxxvDUQM/giphy.gif" alt="Happy Cats">
        </div>
        <h1 class="success-text">Knew you would <br> say YES!</h1>
    </div>
</body>
</html>