{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pleaseee?</title>
    <link rel="stylesheet" href="{% static 'home/page2.css' %}">
</head>
<body>
    <div class="container">
        <div class="image-wrapper">
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcHkyZm01dmt1eDVpaHAzcXhwM2toMGQ4eTVyeGExY3pqbDJnaDBraCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/FWcpMMCOoyM2tWrLLy/giphy.gif" alt="Crying">
        </div>

        <h1 class="please-text">Pleaseee be my valentine?</h1>

        <div class="buttons">
            <a href="/page5/"><button class="yes-btn">OF COURSE</button></a>
            <a href="/thanks/"><button class="no-btn">I said no</button></a>
        </div>
    </div>
</body>
</html>